{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<article class="module width_quarter">
  <header>
    <h3>Package Stats</h3>
  </header>
  
  <div class='module_content'>
    <article class="stats_overview package_stats">
        <div class="overview_today">
            <p class="overview_day">Packages</p>
            <p class="overview_count">{{ package_count }}</p>
            <p class="overview_type">Package{{ package_count|pluralize }}</p>
            <p class="overview_count">{{ release_count }}</p>
            <p class="overview_type">Release{{ release_count|pluralize }}</p>
        </div>
        <div class="overview_previous">
            <p class="overview_day">Private</p>
            <p class="overview_count">{{ private_package_count }}</p>
            <p class="overview_type">Package{{ private_package_count|pluralize }}</p>
            <p class="overview_count">{{ private_release_count }}</p>
            <p class="overview_type">Release{{ private_release_count|pluralize }}</p>
        </div>
    </article>
    <div class="clear"></div>
  </div>
</article>
{% endblock %}